
@{
    ViewData["Title"] = "VisualizarTroca";
}

<h2>Visualização da Troca</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Trocas Id
            </th>
            <!--
            <th>
                Nome
            </th>
                -->
            <th>
                Horario Trabalho Novo
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewData["VisualizarTroca"] as IList<Troca>)
        {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.TrocaId)
            </td>

            <!--
    <td>
        @Html.DisplayFor(modelItem => item.EnfermeirosId)
    </td>
    -->

            <td>
                @Html.DisplayFor(modelItem => item.HorarioTrabalhoNovo.HoraInicio)
            </td>
            <!--
    <td>
        Html.DisplayFor(modelItem => item.HorarioTrabalhoAntigo.HoraInicio)
    </td>
    -->

        </tr>
        }
    </tbody>
</table>



