@model PI_ES2_Grupo8.Models.Troca

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Troca</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TrocaId" />
            <div class="form-group">
                <label asp-for="justificação" class="control-label"></label>
                <input asp-for="justificação" class="form-control" />
                <span asp-validation-for="justificação" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnfermeiroRequerenteId" class="control-label"></label>
                <select asp-for="EnfermeiroRequerenteId" class="form-control" asp-items="ViewBag.EnfermeiroRequerenteId"></select>
                <span asp-validation-for="EnfermeiroRequerenteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnfermeiroEscolhidoId" class="control-label"></label>
                <select asp-for="EnfermeiroEscolhidoId" class="form-control" asp-items="ViewBag.EnfermeiroEscolhidoId"></select>
                <span asp-validation-for="EnfermeiroEscolhidoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HorarioServicoDomicilioId" class="control-label"></label>
                <select asp-for="HorarioServicoDomicilioId" class="form-control" asp-items="ViewBag.HorarioServicoDomicilioId"></select>
                <span asp-validation-for="HorarioServicoDomicilioId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

