@model PI_ES2_Grupo8.Models.Material

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Material</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MaterialId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
