@{
    ViewData["Title"] = "Home Page";
}

<h1> Bem-vindo </h1>

<h3> Escolher uma das opções: </h3>







<a asp-action="horarios" class="btn btn-primary">Horários</a>
<a asp-action="enfermeiros" class="btn btn-primary">Enfermeiros</a>
<a asp-action="Informações" class="btn btn-primary">Informações</a>


