@model PI_ES2_Grupo8.Models.ReceitarTratamento

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>ReceitarTratamento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!-- <div class="form-group">
                <label asp-for="ReceitaId" class="control-label"></label>
                <select asp-for="ReceitaId" class ="form-control" asp-items="ViewBag.ReceitaId"></select>
            </div>-->

            <div class="form-group">
                <!-- <label asp-for="TratamentoId" class="control-label">Tratamento</label>-->
                <!--<select  asp-for="TratamentoId" class="form-control" asp-items="ViewBag.TratamentoId" ></select>-->
                @using (Html.BeginForm("Create", "ReceitarTratamentos"))
                {
                    foreach (var item in ViewData["Tratamentos"] as IList<Tratamento>)
                    {

                        <div class="form-control">
                            <label asp-for="TratamentoId">
                                <input type="checkbox"
                                       name="SelectedTratamento"
                                       value="@item.TratamentoId" /> @item.TipodeTratamento
                                </label>
                            </div>

                        }
                        <div class="form-group">
                            <label asp-for="DataTratamento" class="control-label"></label>
                            <input asp-for="DataTratamento" class="form-control" />
                            <span asp-validation-for="DataTratamento" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    }
            </div>
       
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

