@model PI_ES2_Grupo8.Models.ReceitarTratamento

@{
    ViewData["Title"] = "Delete";
}



<h3>Tem certeza que pretende apagar?</h3>
<div>
    <h4>Apagar Receitas/Tratamento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.receita)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.receita.ReceitaId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tratamento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tratamento.TipodeTratamento)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ReceitarTratamentoId" />
        <input type="submit" value="Apagar" class="btn btn-default" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
